

.navbar-brand img {
    width: 40px;
    height: auto; 
    margin-right: 10px; 
}

.profile-cont {
    height: 80px !important;
    width: 80px;
    
}

.profile-cont img {
    border-radius: 50%;
    height: 100%;
    width: 100%;
}

.bottom-acc-profile {
    box-sizing: border-box;
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.custom-list {
    list-style: none;
    padding-left: 0;
}

.custom-list li {
    display: inline-block;
    margin-right: 5px; 
}

.custom-list li:not(:last-child):after {
    content: "\00B7"; /* Unicode for middle dot character */
    margin-left: 5px; 
    margin-right: 5px; 
}

.custom-div {
    background-color: #f0f0f0; 
    padding: 10px; 
    border-radius: 5px;
}

.account-action {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 18px;
    border-radius: 8px;
}

.custom-container-img {
    text-align: center;
}

.custom-container-img .inline-img-heading {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

.custom-container-img .inline-img-heading img {
    height: 5em;
    display: inline-block;
    border-radius: 6px;
}

.events {
    box-sizing: border-box;
    background-color: #f0f0f0;
}

#eventsLists {
    max-height: 400px;
    overflow-y: auto;
}

#timeSpan {
    margin-left: 0.2em;
}

#daysLeft {
    margin-right: 0.2em;
}

.event-list {
    background-color: #f8f9fa;
}

.account-track {
    background-color: #f0f0f0;
    box-sizing: border-box;
}

.balances-cont {
    background-color: #f8f9fa;
}

#percentChange {
    font-size: 0.8em;
    position: relative;
    top: 0.2em;
}

#mobBalance {
    font-weight: 500;
}
.out-balance {
    text-align: center;
}

.out-balance #staticBalance {
    display: inline-block;
}

.out-balance #percentChange {
    display: inline-block;
}

.positive {
    color: green;
}

.negative {
    color: red;
}

.neutral {
    color: orange;
}

.receipts {
    height: 200px !important;
    overflow-y: auto;
}

.overlay-light {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

.overlay-dark {
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    display: none;
    background-color: rgba(0, 0, 0, 0.7);
}

#bankPopup {
    position: fixed;
    top: 20px;
    left: 50%;
    width: 400px;
    transform: translate(-50%);
    background-color: #fff;
    display: none;
}

#bankPopup h3 {
    text-align: center;
}

.bottom-form-btn button {
    display: inline-block;
}

.loading-circle {
    width: 2rem; 
    height: 2rem; 
    border: 0.25rem solid transparent;
    border-top-color: #007bff; 
    border-radius: 50%;
    animation: spin 1s linear infinite; 
    display: inline-block;
    vertical-align: middle;
    margin-left: 25px;
    display: none;
}

.loading-status {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    display: none;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#statusBar {
    position: absolute;
    top: 68px;
    left: 5px;
    background-color: #46ad9c;
    color: #fff;
    border-radius: 10px;
    display: none;
}


#mobilePopup {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 400px;
    transform: translate(-50%, -50%);
    background-color: #fff;
    display: none;
}

.signup-left {
    background-color: #97a4b3;
    height: 100%;

}

.signup-left h3 {
    text-align: center;
    color: #e2dede !important;
    
}

.signup-left h4 {
    text-align: center;
}

.banner-container {
    width: 100%;
}

.banner-container img {
    width: 100%;
}

.signup-right {
    border: #97a4b3 solid 1px;
    
}


.signup-cont {
    width: 60%;
    margin: auto;
}

.signup-cont h3 {
    text-align: center;
}

#status {
    text-align: center;
    background-color: #4d627a !important;
    color: #fff;
}